@font-face {
  font-family: "iconfont"; /* Project id 4280845 */
  src: url('iconfont.woff2?t=1697026385388') format('woff2'),
       url('iconfont.woff?t=1697026385388') format('woff'),
       url('iconfont.ttf?t=1697026385388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="el-icon-ali"], 
[class*="el-icon-ali"]
{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-icon-ali-label-cat:before {
  content: "\e687";
}

.el-icon-ali-cat-in-black-silhoue:before {
  content: "\e65d";
}

